
  #newBankButton {
  margin-top:40px;
  width: 660px;
  height: 42px;
  background-color: rgb(42, 182, 238);
  color: white;
  box-shadow: 2px 3px 0px 0px #118bd1;
  border-radius: 30px;
} 

#clearStorageButton {
  margin-top:20px;
  width: 200px;
  height: 42px;
  background-color: rgb(243, 37, 37);
  color: white;
  box-shadow: 2px 3px 0px 0px #420303;
  margin-left: 40px; 
  border-radius: 30px;
}

.bankList {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
  padding: 30px;
}

h1{
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-shadow: 0 0 4px black;
}

@media (max-width:768px) {
  #newBankButton {
    margin-top:4px;
    width: 340px;
    height: 38px;
    background-color: rgb(42, 182, 238);
    color: white;
    box-shadow: 2px 3px 0px 0px #118bd1;
    border-radius: 30px;
  } 
  
  #clearStorageButton {
    margin-top:20px;
    width: 120px;
    height: 42px;
    background-color: rgb(243, 37, 37);
    color: white;
    box-shadow: 2px 3px 0px 0px #420303;
    margin-left: 10px; 
    border-radius: 30px;
  }
}
