	
#newBankButton {
  margin-top:40px;
  width: 40vw;
  background-color: rgb(42, 182, 238);
  color: white;
  box-shadow: 2px 3px 0px 0px #118bd1;
} 

#clearStorageButton {
  margin-top:40px;
  width: 15vw;
  background-color: rgb(243, 37, 37);
  color: white;
  box-shadow: 2px 3px 0px 0px #420303;
  margin-left: 3vw; 
}
