#bankCard {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-top: 40px;
}

#funcButtons {
    margin-top: 2px;
    display: flex;
    justify-content: space-around;

}

#delButton {
    width: 240px;
    height: 36px;
    background-color: rgb(192, 99, 99);
    color: white;
    border-radius: 10px;
}

#editButton {
    width: 240px;
    height: 36px;
    background-color: rgb(130, 132, 133);
    color: white;
    border-radius: 10px;
}

@media (max-width:768px) {
    #bankCard {
        width: 320px;
        margin-top: 10px;
    }
}
